*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */

:root {
  --green: hsl(160deg, 100%, 30%);
  --light-gold: hsl(45deg, 100%, 50%);
  --darkGold: hsl(45deg, 100%, 40%);
  --black: hsl(0deg, 0%, 0%);
  --very-dark: hsl(0deg, 0%, 10%);
  --dark: hsl(0deg, 0%, 30%);
  --medium: hsl(0deg, 0%, 40%);
  --light: hsl(0deg, 0%, 60%);
  --white: hsl(0deg, 0%, 100%);
}

header {
  background-color: var(--white);
  color: var(--black);
  text-align: left;
}
.max-width-wrapper {
  max-width: 800px;
  padding: 1rem 1rem 1.5rem 0;
  margin: 0 auto;
}

.intro-chunk {
  max-width: 415px;
  font-size: 1.25rem;
  font-weight: 400;
  padding-left: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  text-align: left;
}

main {
  border-top: 0.5rem solid var(--light);
  background-color: var(--medium);
}

.card {
  background-color: var(--white);
  border-bottom: 0.5rem solid var(--light);
  max-width: 800px;
  width: 100%;
  padding-left: 1rem;
}

.indented-heading {
  display: inline-block;
  margin-left: -1.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: var(--very-dark);
  background-color: var(--light-gold);
  border-bottom: 0.5rem solid var(--darkGold);
}

strong {
  color: var(--green);
}
